.about-me {
    padding: 50px;
    margin-top: 120px;
}

.about-h1 {
    color: white;
    padding: 10px;
    padding-top: 30px;
    margin-left: 40px;
}

.about-p {
    color: white;
    text-align: justify;
    text-indent: 20px;
    line-height: 35px;
    padding: 50px;
    font-family: monospace;
    font-size: 20px;
}

.resume {
    margin-top: 150px;
}

.resumeH1{
    color: white;
    padding: 25px;
    padding-bottom: 0;
    font-size: 50px;
    text-align: center;
}

.resume-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.resume-link:hover {
    font-size: 50px;
    background-image: linear-gradient(to right, transparent 50%, #f95959 50%);
    background-origin: 0;
    background-size: 200% 45%;
    background-repeat: repeat-x;
    background-position: 0 100%;
    transition: background-position 0.5s;
    background-position: -100% 100%;
      
   
}

.frontH1 {
    color: white;
    font-size: 20px;
    font-size: 30px;
    text-align: center;
}
 
.skill-list{
 color: white ;
 padding: 10px;
 font-size: 20px;
 text-align: center;
 
 
}

.resume-ul {
    list-style-type: none;
    
}
.backH1 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-size: 30px;
}
h3{
    margin-top: 200px;
    color: white;
    padding: 20px;
    font-family: monospace;
}

h4 {
 color: white;
 font-family: monospace;
 padding: 20px;
}
.card {
    background-color: #393e46;
    border: none;
}

.images {
    width: 300px;
    height: 200px;
    padding: 20px;
    transition: transform 0.3s;
   }

.images:hover {
    transform: scale(1.1);
}

.contact-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    margin-top: 200px;
    align-items: center;
}

input {
    
    width: 35%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
   
  }

  textarea {
    
    max-width: 35%;
    min-width: 35%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;

   
  }

  label {
    color: white;
    padding: 10px;
    margin-top: 1rem;
    font-family: monospace;
    font-size: 25px;
  }

  input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: #f95959;
    color: white;
    border: none;
  }

  .input-btn:hover {
   background-color: #f95959;
   opacity: 0.9;
}