.about-me {
    padding: 50px;
    margin-top: 120px;
}

.about-h1 {
    color: white;
    padding: 10px;
    padding-top: 30px;
    margin-left: 40px;
}

.about-p {
    color: white;
    text-align: justify;
    text-indent: 20px;
    line-height: 35px;
    padding: 50px;
    font-family: monospace;
    font-size: 20px;
}

.resume {
    margin-top: 150px;
    text-align: center;
}

.resumeH1{
    color: white;
    padding: 20px;
    padding-bottom: 0;
    font-size: 50px;
}

.resume-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.resume-link:hover {
    transform: scale(1.2);
    color: #f95959;
}

.frontH1 {
    color: white;
    padding: 20px;
    font-size: 20px;
    font-size: 30px;
}
 
.skill-list{
 color: white ;
 padding: 20px;
 font-size: 20px;
 
}

.resume-ul {
    list-style-type: none;
}
.backH1 {
    color: white;
    padding: 20px;
    font-size: 20px;
    font-size: 30px;
}