.about-me {
    padding: 50px;
    margin-top: 120px;
}

.about-h1 {
    color: white;
    padding: 10px;
    padding-top: 30px;
    margin-left: 40px;
}

.about-p {
    color: white;
    text-align: justify;
    text-indent: 20px;
    line-height: 35px;
    padding: 50px;
    font-family: monospace;
    font-size: 20px;
}

.resume {
    margin-top: 150px;
}

.resumeH1{
    color: white;
    padding: 25px;
    padding-bottom: 0;
    font-size: 50px;
    text-align: center;
}

.resume-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.resume-link:hover {
    font-size: 50px;
    background-image: linear-gradient(to right, transparent 50%, #f95959 50%);
    background-origin: 0;
    background-size: 200% 45%;
    background-repeat: repeat-x;
    background-position: 0 100%;
    transition: background-position 0.5s;
    background-position: -100% 100%;
      
   
}

.frontH1 {
    color: white;
    font-size: 20px;
    font-size: 30px;
    text-align: center;
}
 
.skill-list{
 color: white ;
 padding: 10px;
 font-size: 20px;
 text-align: center;
 
 
}

.resume-ul {
    list-style-type: none;
    
}
.backH1 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-size: 30px;
}
h3{
    margin-top: 200px;
    color: white;
    padding: 20px;
    font-family: monospace;
}

h4 {
 color: white;
 font-family: monospace;
 padding: 20px;
}
.card {
    background-color: #393e46;
    border: none;
}

.images {
    width: 300px;
    height: 200px;
    padding: 20px;
    transition: transform 0.3s;
   }

.images:hover {
    transform: scale(1.1);
}